
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400&display=swap');


* {
    background: rgb(250, 250, 226);
   
}

h1 {

    font-family: 'Dancing Script', cursive; /* Fuente */
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 120%;
    text-align: left;
    color: darkred;
    padding: 20px 0 50px 10px;
    text-align: center;
    margin: 0 auto;
    
    
}

h2 {

    font-family: 'Dancing Script', cursive; /* Fuente */
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 110%;
    text-align: left;
    color: darkred;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 0 20px 10px;
    text-align: center;

    background-color: rgb(232, 232, 212);
    
}

ol > li {

    padding-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;

  }

section {
	width: 80%;
	margin: 0 auto 10px;
	max-width: 600px;
}